/* I like this font a lot, check devarsh.me it also uses Atkinson Hyperlegible */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    font-family: "Atkinson Hyperlegible Next", system-ui;
}

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    text-align: center;
}

.w-200px {
    width: 200px;
}

/* from https://www.mshr.app/mesh/1715243222081 */
.cool-gradient-1 {
    background-color: hsla(259.4117647058824, 100%, 63%, 1);
    background-image: radial-gradient(circle at 15% 85%, hsla(318, 80%, 97%, 1) 19%, transparent 84%), radial-gradient(circle at 31% 1%, hsla(161.47058823529412, 99%, 84%, 1) 12%, transparent 85%), radial-gradient(circle at 88% 87%, hsla(163, 90%, 78%, 1) 3.6400864520532363%, transparent 75.20902830975928%), radial-gradient(circle at 30% 27%, hsla(314, 91%, 59%, 1) 14%, transparent 90%);
    background-blend-mode: normal, normal, normal, normal;
}